<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="col-xs-12">
    <h1>Frontline Code Challenge</h1>
    <h2>Requirements:</h2>
    <ol>
      <li>Should be solved in a language which demonstrates your skill for the position you have applied.</li>
      <li>Deliver a working runnable solution and include a copy of the source code.</li>
      <li>Write code typical of something we would be proud to have in Frontline software in production.</li>
      <li>You will need to independently overcome any challenges you face in delivery.</li>
      <li>If applicable, please list your assumptions.</li>
    </ol>
    <p>Thank you for the opportunity to show you my work. I hope you like it!</p>
    <div class="col-xs-12 text-align-right">
      <cite>&mdash; Michael Scully</cite>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-12 col-sm-6">
      <p>Element Array</p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p>Sorted Alphabetically</p>
    </div>
  </div>
</div>
